@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    1600 Pennsylvania Ave<br />
    Tampa, FL 33613<br />
    (555) 555-5555
</address>

<h5>Email us your feedback:</h5>
<address>
    <a href="mailto:support@smartbites.com">support@smartbites.com</a>
</address>
<p>(We probably won't respond)</p>